<.header>
  Search Properties By Address or Owner
</.header>

<.live_component
  module={WhoOwnsWhatWeb.PropertyLive.SearchComponent}
  owner_query={@owner_query}
  address_query={@address_query}
  id="search-results"
/>
