<.header>
  Search Properties By Address, Owner, or Owner Group
</.header>

<.live_component
  module={WhoOwnsWhatWeb.PropertyLive.SearchComponent}
  address_query={@address_query}
  owner_query={@owner_query}
  owner_group_query={@owner_group_query}
  id="search-results"
/>
